.contact{
	.info-section {
		padding: 54px;
		width: 35%;
	}

	.content-area{
		background-color: $color3;
		margin-left: 35%;
		background: white;
		width: 65%;
		height: 100%;
		// padding: 0 0 0 25%;
		.image-container {
			width: 30%;
			display: inline-block;
			position: relative;
			height: 100%;

			.form-section{
			position: absolute;
			top: 56px;
			left: -250px;
			width: 500px;
			height: calc(100% - 112px);
  			-webkit-box-shadow: 9px 20px 80px 6px rgba(0,0,0,0.34);
			-moz-box-shadow: 9px 20px 80px 6px rgba(0,0,0,0.34);
			box-shadow: 9px 20px 80px 6px rgba(0,0,0,0.34);
			}
		}
		.contact-section{
			display: inline-block;
			vertical-align: top;
			max-width: 500px;
			padding: 20% 0 0 0;
			.profile{
				h1{
					font-size: 2.3rem;
					font-weight: 500;
					line-height: 1.2;
					margin: 0 0 1rem 0;
					span{
						color: $color1;
					}
				}
				h5{
					font-size: 1.1rem;
					margin: 0 0 2rem 0;
				}
				p{
					color: $color4;
					font-weight: 300;
					line-height: 1.4;
					margin: 0 0 2rem 0;
				}
			}
		}

		
	}
}